/*Debugging Purposes*/
/** {    border: 1px solid white;}*/

body {
    background: url("../img/background.jpg");
    background-size: cover;
    font-family: Verdana, serif;
    color: #f04937;
}

header {
    background-color: #f04937;
    color: white;
}

header img {
    background-color: red;
}

nav {
    display: block;
    margin: 20px auto;
    text-align: center;
    width: 500px;
    text-transform: uppercase;
    /*text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
}

nav li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: x-large;
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #f04937;
    font-weight: bold;
}

nav li a:hover {
    color: #ffffff;
}

footer {
    color: #ffffff;
    position: absolute;
    bottom: 10px;
    right: 10px;
    font-size: x-small;
}

.spacer {
    display: block;
    height:100px;
}

#header-logo {
    display: block;
    margin: auto;
    height:120px;
}

#logo {
    display: block;
    margin: auto;
    height: 200px;
}