/*Debugging Purposes*/
/** {    border: 1px solid blue;}*/

body:before{
    content:"";
    position: fixed;
    top: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    
    /* Apply shadow to the top */
    -webkit-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    -moz-box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
}
body {
    background: url("../img/background0.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    
    /* Transition effects for the image change */
    transition: background-image 2s ease-in-out;
    
    font-family: Verdana, serif;
    color: #f04937;
}

nav {
    display: block;
    margin: 120px auto;
    text-align: center;
    width: 500px;
    text-transform: uppercase;
    /*text-shadow: 2px 0 0 #000, -2px 0 0 #000, 0 2px 0 #000, 0 -2px 0 #000, 1px 1px #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000;*/
}

nav ul {
    list-style: none;
    margin: 0 auto;
    padding: 0;
    overflow: hidden;
    width: 100%;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0px 0px 20px #000000;
}

nav li {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    font-size: x-large;
}

nav li a {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #f04937;
    font-weight: bold;
}

nav li a:hover {
    transition: all 0.3s ease;
    color: #ffffff;
}

footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    height: 30px;
    width: 100%;

    padding-left: 10px;
}

#header-logo {
    width: 25%;
    height: 25%;
    display: block;
    margin: auto;
}

#logo {
    width: 25%;
    height: 25%;
    margin: 2.5% auto;
    display: block;
}

@media screen and (max-width:480px){
/*    Mobile*/
    #header-logo{
        width: 100%;
        height: 100%;
    }
    
    #logo{
        width: 95%;
    }
    
    nav {
        display: inline;
    }
}